<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: horizontalDuration + 's', left: -length + 'px', right: clientWidth + 'px', easing: 'ease-in' } }"
    [ngStyle]="top">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: horizontalDuration + 's', left: -length + 'px', right: clientWidth + 'px', easing: 'ease-in'  } }"
    [ngStyle]="topBlur">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: horizontalDuration + 's', delay: bottomDelay + 's', left: -length + 'px', right: clientWidth + 'px', easing: 'ease-out'} }"
    (@highlighting.done)="endHighlighting()"
    [ngStyle]="bottom">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: horizontalDuration + 's', delay: bottomDelay + 's', left: -length + 'px', right: clientWidth + 'px', easing: 'ease-out' } }"
    [ngStyle]="bottomBlur">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: verticalDuration + 's', top: -length + 'px', bottom: clientHeight + 'px', easing: 'ease-in'  } }"
    [ngStyle]="left">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: verticalDuration + 's', top: -length + 'px', bottom: clientHeight + 'px', easing: 'ease-in'  } }"
    [ngStyle]="leftBlur">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: verticalDuration + 's', delay: rightDelay + 's', top: -length + 'px', bottom: clientHeight + 'px', easing: 'ease-out'  } }"
    [ngStyle]="right">
</div>

<div 
    class="border"
    [@highlighting]="{value: highlighting, params: { duration: verticalDuration + 's', delay: rightDelay + 's', top: -length + 'px', bottom: clientHeight + 'px', easing: 'ease-out'  } }"
    [ngStyle]="rightBlur">
</div>